.container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    height: 150px;
    width: 150px;
    background-color: teal;
    margin: 1px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: 2px solid darkkhaki;
    animation: slide-in 2s;
    box-shadow: 5px 10px 18px grey;
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);}
    to {
      transform: translateX(0%);}
  }

.box:hover{
    background-color: turquoise;
}

body{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}